.root {
    -fx-focus-color: #0096C9;
    -fx-selection-bar: #0096C9;
}

.table-column {
    -fx-alignment: CENTER;
}

.jfx-text-field {
    -jfx-focus-color: #0096C9;
}

.jfx-password-field {
    -jfx-focus-color: #0096C9;
}

.jfx-combo-box {
    -jfx-focus-color: #0096C9;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #CCCCCC;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: BLACK;
}
.jfx-tab-pane .headers-region .tab-label {
    -fx-text-fill: #777777;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #0096C9;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #0096C9;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #0096C9;
}

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: #0096C9;
}

.jfx-radio-button {
    -jfx-selected-color: #0096C9;
    -jfx-unselected-color: #5A5A5A;
}




.jfx-button {
    -fx-background-color: #F4F4F4;
}

.jfx-text-area {
    -fx-background-color: #EFEFEF;

}

